# XcodeGen generated project
*.xcodeproj/
*.xcworkspace/

# Xcode user data
*.xcuserstate
userdata/
xcuserdata/

# Build products
build/
DerivedData/
*.dSYM/


# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Sisyphus
.sisyphus/
